# Dependencies
node_modules

# Build
dist
*.local

# Env
.env
.env.local
.env.*.local

# IDE
.idea
.vscode
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Logs
*.log
npm-debug.log*

# Supabase local
supabase/.branches
supabase/.temp
supabase/functions/.env
